<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css" media="all" />
    <link rel="stylesheet" mededia="all" href="/css/tipTip.css" type="text/css" />
    <link rel="stylesheet" href="/css/nivo-slider.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/css/nivostyle.css" type="text/css" media="screen" />

    <link rel="stylesheet" href="/assets/css/bootstrap.css" />
    <link rel="stylesheet" href="/assets/css/font-awesome.css" />

    <!-- page specific plugin styles -->
    <link rel="stylesheet" href="/assets/css/jquery-ui.custom.css" />

    <!-- text fonts -->
    <link rel="stylesheet" href="/assets/css/ace-fonts.css" />

    <!-- ace styles -->
    <link rel="stylesheet" href="/assets/css/ace.css" class="ace-main-stylesheet" id="main-ace-style" />

    <!--[if lte IE 9]>
    <link rel="stylesheet" href="/assets/css/ace-part2.css" class="ace-main-stylesheet" />
    <![endif]-->

    <!--[if lte IE 9]>
    <link rel="stylesheet" href="/assets/css/ace-ie.css" />
    <![endif]-->

    <!-- inline styles related to this page -->

    <!-- ace settings handler -->
    <script src="../assets/js/ace-extra.js"></script>

    <script type="text/javascript">
        window.jQuery || document.write("<script src='/assets/js/jquery.js'>"+"<"+"/script>");
    </script>


</head>
<body>

<div class="clearfix page-nav">
    <% if(user){ %>
    <div class="pull-left nav-username">欢迎你，<%= user.username%></div>
    <div class="pull-left "><a href="/post">发表</a></div>
    <div class="pull-right nav-quit"><a href="/quit">退出</a></div>
    <% } else {%>
    <div class="pull-right nav-register"><a href="/register">注册</a></div>
    <div class="pull-right nav-login"><a href="/login">登录</a></div>
    <% } %>
</div>