<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/common.css">
</head>
<body>

<div class="clearfix page-nav">
    <div class="pull-right nav-register"><a href="/register">注册</a></div>
    <div class="pull-right nav-login"><a href="/login">登录</a></div>
</div>