<%- include header%>
        <div class="containner">
            <div class="jumbotron">
                <h1>我的第一个BootStrap页面--cer</h1>
                <p>重置窗口大小，查看响应式效果！</p>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <h3>第一列</h3>
                    <p>111111lalala11111</p>
                </div>
                <div class="col-sm-4">
                    <h3>第二列</h3>
                    <p>22222hahaha222222</p>
                </div>
                <div class="col-sm-4">
                    <h3>第三列</h3>
                    <p>333333bababa33333</p>
                </div>
            </div>
        </div>

<%- include footer%>