<%- include header%>

<div class="text-center page-title">新用户注册</div>
<div class="container">
    <div class="row">
        <div class="col-xs-4 col-xs-offset-4">
            <form method="post" onsubmit="return checkForm()">
                <div class="form-group">
                    <input type="text" class="form-control" name="username" id="username" placeholder="用户名">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" name="password" id="password" placeholder="密码">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" name="passwordRepeat" id="passwordRepeat" placeholder="确认密码">
                </div>
                <button type="submit" class="btn btn-default center-block" >注册</button>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    function checkForm(){

        var password=document.getElementById("password").value; //获取密码框值
        var username=document.getElementById("username").value; //获取用户名

        //密码：长度不能少于6，必须同时包含数字、小写字母、大写字母
        if(password.length<6){
            alert("密码长度必须大于六位！");
//            console.log("密码长度必须大于六位！");
            return false;
        }
        var patern1 = /[A-Z]+/;
        var patern2 = /[0-9]+/;
        var patern3 = /[a-z]+/;
        if (!(patern1.exec(password) && patern2.exec(password) && patern3.exec(password))){
            alert("密码必须同时包含数字、小写字母、大写字母！");
//            console.log("密码必须同时包含数字、小写字母、大写字母！");
            return false
        }


        //用户名：只能是字母、数字、下划线的组合，长度3-20个字符
        patern = /^([a-zA-Z0-9]|[_]){3,20}$/;
        if (!patern.exec(password)){
            alert("用户名只能是字母、数字、下划线的组合，长度3-20个字符");
//            console.log("用户名只能是字母、数字、下划线的组合，长度3-20个字符");
            return false
        }
    }
</script>

<%- include footer%>